 
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
 
.main-heading{
    font-size: 3.5rem;
    line-height: 4rem;
     
}
.home-container{
    color:var(--text-color-primary);
    padding-top: 2.5rem;

   
}

.input{
    background-color:transparent;
    border: none;
    border-bottom: 3px solid var(--text-color-primary);
    font-size: 3.5rem;
    color: var(--text-color-primary);
    width:50vw;
    text-align: center;

}

.input:focus{
    outline: none;
}   

.user-details{

  

}

.gap-lg{
gap:10rem;
}